@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

nav {
    background-color: white;
    height: 70px;
    width: 100%;
    position: sticky;
    top: 0;
}

label.logo {
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: 600;
}
  
nav ul {
    float: right;
    margin-right: 20px;
}
  
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
  
nav ul li a {
    font-size: 17px;
    color: black;
    padding: 7px 25px;
}
  
.basic {
      width: 60%;
      height: 60vh;
      border-radius: 5px;
      margin: auto;
      margin-top: 17vh;
      margin-bottom: 30vh;
      box-shadow: 0 2px 4px 0px darkgray;
      display: flex;
}

.img {
    width: 220px;
    padding-left: 20px;
    padding-top: 20px;
}

div h4,p {
    display: inline;
}

.info div {
    padding-top: 30px;
    padding-left: 100px;
}

div p {
    font-weight: 400;
    padding-left: 15px;
}

.bio {
    width: 80%;
    height: 80vh;
    margin: auto;
    margin-bottom: 30vh;
    padding-left: 30vh;
    padding-right: 30vh;
    padding-top: 10vh;
}

#edu {
    text-align: center;
    background-color: blue;
}

#bio {
    text-align: center;
}

#contact {
    text-align: center;
}

#project {
    text-align: center;
}

.edu {
    width: 100%;
    height: 80vh;
    margin: auto;
    margin-bottom: 30vh;
    background-color: blue;
    color: #051923;
    padding-left: 30vh;
    padding-right: 30vh;
    padding-top: 10vh;
}

.contact{
    width: 100%;
    height: 80vh;
    margin: auto;
    margin-bottom: 30vh;
    padding-left: 30vh;
    padding-right: 30vh;
    padding-top: 10vh;
}

#edu, #bio, #contact, #project {
    padding-top: 12vh;
}

.container {
    display: flex;
    width: 60%;
    margin-top: 50px;
    margin-left: 30vw;
    margin-bottom: 40vh;
  }
  
  .txt {
    text-align: center;
    padding-top: 20%;
    padding-right: 5vw;
  }
  
  .contact-link {
      border: 1px solid black;
      border-radius: 2vh;
  }

  .name {
    font-family: 'Updock', cursive;
  }

  .projects {
    display: flex;
    /* margin-top: 20px; */
    padding: 5vw;
    padding-top: 2vw;
  }
  
  .m1 {
    width: 140px;
  }

  .pl {
    width: 548px;
  }
  
  .payroll {
    width: 45vw;
  }

  .m1, .pl {
    box-shadow: 0 2px 4px 0px black;
  }

 .full-image {
     width: 450px;
     margin-top: -30px;
 }

.edu p {
    display: block;
    margin: 10px;
}

.payroll h3,.mobile_banking h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 10px;
}

.payroll p, .mobile_banking p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.fb {
    width: 64px;
}

.footer {
    width: 100%;
    background-color: black;
    height: 80vh;
}

.ab {
    padding-top: 15vh;
}

.contact p {
    padding-right: 7vw;
}